@model EditStudentViewModel

@{
    ViewData["Title"] = "EditStudent";
}

<h1>Редактирование студента</h1>

<h4>@Model.Student.Surname @Model.Student.Name</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditStudent" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Student.Surname" class="control-label"></label>
                <input asp-for="Student.Surname" class="form-control" />
                <span asp-validation-for="Student.Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.Patronymic" class="control-label"></label>
                <input asp-for="Student.Patronymic" class="form-control" />
                <span asp-validation-for="Student.Patronymic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.Name" class="control-label"></label>
                <input asp-for="Student.Name" class="form-control" />
                <span asp-validation-for="Student.Name" class="text-danger"></span>
            </div>

            <input asp-for="Student.Id" type="hidden" />
            <input name="GroupId" type="hidden" value="@Model.Student.Group.Id"/>

            

            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад к списку</a>
</div>

