
@{
    ViewData["Title"] = "Учебная литература";
}

<h1>Учебная литература</h1>

@section Aside{
    @await Html.PartialAsync("Partial/_Menu") @* Ассинхронная операция вывода частичного представления *@
}
