
@{
    ViewData["Title"] = "GetLaboratoryWorks";
}

<h1>Лабораторные работы по курсам</h1>

@section Aside{
    @await Html.PartialAsync("Partial/_Menu") @* Ассинхронная операция вывода частичного представления *@
}
