
@model IEnumerable<Education.Entityes.EF.StudentGroup>
@{
    ViewData["Title"] = "Index";
}

<h1>Группы</h1>

<table class="table">
    <thead>
    <tr>
        <th>№</th>
        <th>Номер группы</th>
    </tr>
    </thead>
    <tbody>
    @{
        int n = 1;
    }
    @foreach (var group in Model)
    {
        <tr>
            <td>@(n++)</td>
            <td><a asp-controller="Students" asp-action="GroupStudents" asp-route-Id="@group.Id">@group.Name</a></td>
        </tr>
    }
    </tbody>
</table>