<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                <img class="img-logo" src="~/Images/Logo-Kaf406.png" />
            </a>
            <button class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <div class="dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Студентам
                            </a>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" asp-controller="Students" asp-action="Index">Общая информация</a>
                                <a class="dropdown-item" asp-controller="Students" asp-action="GetStudentsGroups">Списки групп</a>
                                <a class="dropdown-item" asp-controller="Courses" asp-action="Index">Курсы</a>
                                <a class="dropdown-item" href="#">Лабораторные работы</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Lectors" asp-action="Index">Преподавателям</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="#">Литература</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="" asp-action="">Контакты</a>
                    </li>
                </ul>
                <div class="mt-2 mt-md-0">
                    @await Component.InvokeAsync("User")
                </div>
            </div>
        </div>
    </nav>
</header>