<a asp-controller="Account" asp-action="Register" class="btn btn-outline-primary my-2 my-sm-0">Регистрация</a>
<a asp-controller="Account" asp-action="Login" class="btn btn-outline-primary my-2 my-sm-0">Вход</a>
